<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Default" connectionString="Server=localhost\SqlExpress; Database=AwesomeBank; User=AwesomeBank; Password=TB2jk9D%mL{%CI#K"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8.0" requestValidationMode="0.0"/>
  </system.web>
</configuration>